.card__title {
  margin: 12px 0 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 330px;
  color: #000;
}
.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__like-btn {
  background-image: url(../images/likeicon.svg);
  width: 23px;
  height: 20px;
  padding: 0;
  border-style: none;
  background-color: transparent;
  opacity: 0.4;
  margin: 12px 0 0;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_liked {
  background-image: url(../images/heatlikeblack.svg);
  opacity: 1;
}

.card__like-btn_liked:hover {
  background-image: url(../images/heatlikewhite.svg);
}

.card__trash-btn {
  background-image: url(../images/trashdefault.png);
  position: absolute;
  width: 32px;
  height: 32px;
  top: 10px;
  left: 246px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: auto;
  cursor: pointer;
  background: contain;
}

.card__trash-btn:hover {
  background-image: url(../images/redtrash.png);
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
    background-size: 20px 18px;
  }
  .card__title {
    font-size: 16px;
    line-height: 16px;
    max-width: 250px;
  }
}
