.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  font-size: 32px;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  background-color: #ffffff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;
  border-radius: 8px;
}

.modal__content_type_preview {
  padding: 0;
  background: transparent;
  max-width: fit-content;
  max-height: 80vh;
}

.modal__image {
  width: 100%;
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
}

.modal__caption {
  color: #ffffff;
  background-color: #212121;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  width: 100%;
  padding: 4px 8px;
  margin: 8px 0 0;
  border-radius: 8px;
  text-align: center;
  width: fit-content;
  position: absolute;
  border-radius: 8px;
  font-family: "Poppin", Arial, Helvetica, sans-serif;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: transparent;
  background-image: url(../images/CloseIcon.svg);
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  padding: 0;
}

.modal__close-btn_type_preview {
  background-image: url(../images/ClosewIcon.svg);
  top: 0;
  right: -52.5px;
  opacity: 1;
}

.modal__close-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-size: 16px;
  opacity: 70%;
}

.modal__submit-btn {
  width: 156px;
  height: 52px;
  padding: 18px 0;
  gap: 8px;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  font-size: 16px;
  border: none;
}

.modal__submit-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__input {
  padding: 0px 12px;
  border: 1px solid;
  border-radius: 8px;
  max-width: 630px;
  height: 52px;
  color: #212121;
  opacity: 1;
}

.modal__input::placeholder {
  color: #212121;
  font-weight: 500;
  font-size: 20px;
  opacity: 100%;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

@media screen and (max-width: 675px) {
  .modal {
    padding: 0 10px;
  }

  .modal__content {
    padding: 12px;
  }

  .modal__content_type_preview {
    padding: 0;
    position: relative;
    left: -16px;
  }

  .modal__close-btn_type_preview {
    right: -30px;
    top: -48px;
  }

  .modal__image {
    border-radius: 4px;
    width: 288px;
    max-width: 90vw;
    max-height: 90vh;
  }

  .modal__caption {
    font-size: 12px;
    line-height: 19px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 30px;
  }
  .modal__close-btn {
    top: 12px;
    right: 12px;
  }
  .modal__label {
    margin-bottom: 24px;
  }
  .modal__submit-btn {
    width: 100%;
  }
}
