.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  font-size: 32px;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  background-color: #ffffff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;
  border-radius: 8px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: transparent;
  background-image: url(../images/CloseIcon.svg);
  border: none;
  transition: opacity 0.3s ease;
}

.modal__close-btn:hover {
  opacity: 100%;
  cursor: pointer;
  transition: 0.5s ease;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-size: 16px;
  opacity: 70%;
}

.modal__submit-btn {
  width: 156px;
  height: 52px;
  padding: 18px 0;
  gap: 8px;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  font-size: 16px;
  border: none;
}

.modal__submit-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__input {
  padding: 0px 12px;
  border: 1px solid;
  border-radius: 8px;
  max-width: 630px;
  height: 52px;
  color: #212121;
  opacity: 1;
}

.modal__input::placeholder {
  color: #212121;
  font-weight: 500;
  font-size: 20px;
  opacity: 100%;
}
@media screen and (max-width: 720px) {
  .modal {
    padding: 0 10px;
  }
  .modal__container {
    padding: 12px;
  }
  .modal__title {
    font-size: 20px;
    margin: 10px 0 30px;
  }
  .modal__close-btn {
    top: 12px;
    right: 12px;
  }
  .modal__label {
    margin-bottom: 24px;
  }
  .modal__submit-btn {
    width: 100%;
  }
}
